hr {
  margin-top: 30px;
  margin-bottom: 20px;
}

/* Post navigation links */
.post_navi {
  display: flex;
}

.post_navi-label {
  font-size: 0.8em;
  opacity: 0.5;
}

.post_navi .post_navi-item {
  padding: 0 2.2em;
  width: 50%;
  position: relative;
  color: inherit !important;
}

.post_navi .nav_prev {
  text-align: left;
}

.post_navi .nav_next {
  text-align: right;
}

.post_navi .nav_prev .post_navi-arrow {
  left: 0;
}

.post_navi .nav_next .post_navi-arrow {
  right: 0;
}

.post_navi .post_navi-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5em;
  opacity: 0.3;
}

html, body {
  background: #000 !important;
  color: #00ff00 !important;
}


.site-header,
.site-footer,
.page-content,
.post-content,
.wrapper {
  background: #000 !important;
  color: #00ff00 !important;
  border-color: #003300 !important;
}

h1, h2, h3, h4, h5, h6,
.site-title,
.post-title {
  color: #00ff00 !important;
}


.site-nav .page-link {
  color: #00ff00 !important;
}


a, a:visited {
  color: #00ff00 !important;
  text-decoration: underline !important;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}



pre, code {
  background: #111 !important;
  color: #00ff00 !important;
  border-color: #003300 !important;
}


a code {
  text-decoration: underline !important;
}




.wrapper { max-width: 55% !important; }

.post, .page {
  max-width: 100% !important;
}

.post-content, .page-content {
  max-width: 100% !important;
}
